<h2>Hello &#129505;</h2>
<h3>&#128205; First Name : <span style="color:blue">Gausar</span></h3>
<h3>&#128205; Last Name : <span style="color:blue">Amangyeldi</span></h3>
<h3>&#128205; Education : 
    <span>
        <ul>
            <li>
                High School : <span style="color:blue">Bayan-Ulgii aimag, Secondary School number 2.</span>
            </li>
            <li>
                Bachelor : <span style="color:blue">National University of Mongolia.</span>
            </li>
            <li></li>
        </ul>
    </span>
</h3>
<h3>&#128205; Profession : <span style="color: blue;">Computer Scientist &#128187;</span></h3>
<h3>&#128205; From : <span style="color:blue">Mongolia</span></h3>
<h3>&#128205; Country visited : <span style="color:blue">Malaysia</span></h3>
<h3>&#128205; Internships : <span style="color:blue">Novelsoft internship 2024 winter</span></h3>
<h3>&#128205; Github account : <a href="https://github.com/Gausar" style="color:blue">Gausar</a></h3>
<h3>&#128205; YouTube channel : <a href="https://youtube.com/@gausar?si=OBEQPsjnLW7-PmpT" style="color:blue">a_gausar</a></h3>