<h2>Contact </h2>
<h3>
<ul>
    <li>&#128222; Phone number : + 976 80421092</li>
    <li>&#128231; Email : gausaraman9@gmail.com</li>
    <li>&#128241; Facebook : <a href="https://www.facebook.com/gausar.amangyeldi.9/" style="text-decoration: none; color:blue">Гаусар Амангелди</a></li>

    <li>&#128241; Instagram : <a href="https://www.instagram.com/a_gausar/" style="text-decoration: none; color:blue">a_gausar</a></li>
</ul>
</h3>